{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Philosophers dinner</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <div class="header-wrapper" id="header">
      <div class="page-header">
        <h1>Philosophers dinner</h1>
        <div class="description-wrapper">
          <p class="dinner-description">
            Multithreading implementation of solution of the Dining Philosophers
            Problem, but this time our philosophers are reading while eating.
            Dinner ends when everybody read all of the books. Each philospher
            choose book he hadn't already read, next choose seat and try to get
            forks. All choices are random. Waiter watches over the dinner and
            allows max four people to the table at the time.
          </p>
          <p class="instruction">
            Decide how many books are on the bookcase and adjust how long
            philosophers eat, duration of other actions will change accordingly.
            You can also choose if waiter should be present, but be careful - it
            might end bad.
          </p>
        </div>
      </div>
      <div class="options-wrapper">
        <div class="options">
          <form id="options-form">
            <div class="option with-waiter">
              <div class="option-header">With waiter</div>
              <div class="waiter-switch">
                <div class="option-text left-option-text">no</div>
                <label class="switch">
                  <input type="checkbox" id="waiter-checkbox" checked="True" />
                  <span class="slider round"></span>
                </label>
                <div class="option-text right-option-text">yes</div>
              </div>
            </div>
            <div class="option how-many-books">
              <div class="option-header">How many books</div>
              <input
                type="number"
                id="how-many-books-input"
                required="true"
                min="1"
                max="44"
              />
            </div>
            <div class="option duration">
              <div class="option-header">Duration</div>
              <div class="duration-range">
                <div class="option-text left-option-text">0.5s</div>
                <input
                  type="range"
                  class="duration-slider"
                  id="duration-input"
                  min="0.5"
                  max="2"
                  step="0.05"
                  value="1.25"
                />
                <div class="option-text right-option-text">2s</div>
              </div>
            </div>
            <input
              class="start-dinner-button"
              id="start-dinner-button"
              type="submit"
              value="Start dinner"
            />
          </form>
          <input
            class="stop-dinner-button"
            id="stop-dinner-button"
            type="button"
            value="Stop dinner"
          />
        </div>
      </div>
    </div>
    <div class="dinner-wrapper" id="dinner-wrapper">
      <div class="dinner">
        <div class="dining-room">
          <div class="seat first-seat">
            <div class="seat-content seat-content-0" id="seat0"></div>
          </div>
          <div class="seat second-seat">
            <div class="seat-content seat-content-1" id="seat1"></div>
          </div>
          <div class="seat third-seat">
            <div class="seat-content seat-content-2" id="seat2"></div>
          </div>
          <div class="seat fourth-seat">
            <div class="seat-content seat-content-3" id="seat3"></div>
          </div>
          <div class="seat fifth-seat">
            <div class="seat-content seat-content-4" id="seat4"></div>
          </div>
          <div class="dinner-table">
            <div class="plate first-plate">0.</div>
            <div class="plate second-plate">1.</div>
            <div class="plate third-plate">2.</div>
            <div class="plate fourth-plate">3.</div>
            <div class="plate fifth-plate">4.</div>
            <div class="fork fork-0" id="fork0">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="rotate(180)"
              >
                <path
                  d="M12.5 3V20.5"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 3V7C15 8.38071 13.8807 9.5 12.5 9.5C11.1193 9.5 10 8.38071 10 7L10 3"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
            <div class="fork fork-1" id="fork1">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="rotate(180)"
              >
                <path
                  d="M12.5 3V20.5"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 3V7C15 8.38071 13.8807 9.5 12.5 9.5C11.1193 9.5 10 8.38071 10 7L10 3"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
            <div class="fork fork-2" id="fork2">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="rotate(180)"
              >
                <path
                  d="M12.5 3V20.5"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 3V7C15 8.38071 13.8807 9.5 12.5 9.5C11.1193 9.5 10 8.38071 10 7L10 3"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
            <div class="fork fork-3" id="fork3">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="rotate(180)"
              >
                <path
                  d="M12.5 3V20.5"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 3V7C15 8.38071 13.8807 9.5 12.5 9.5C11.1193 9.5 10 8.38071 10 7L10 3"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
            <div class="fork fork-4" id="fork4">
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="rotate(180)"
              >
                <path
                  d="M12.5 3V20.5"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M15 3V7C15 8.38071 13.8807 9.5 12.5 9.5C11.1193 9.5 10 8.38071 10 7L10 3"
                  stroke="#D3D3D3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="waiter">
          <img id="waiter-img" src="static/images/waiter.png" />
        </div>
        <div class="waiting-room" id="waiting-room">
          <!-- <div class="patient-guest">Nietzsche</div> -->
        </div>
        <div class="library">
          <img src="static/images/bookshelf.png" />
          <div class="bookshelf">
            <span class="shelf"></span>
            <span class="shelf"></span>
            <span class="shelf"></span>
            <div class="books" id="books"><!-- max 44 books  --></div>
          </div>
        </div>
      </div>
      <div class="info-table">
        <table>
          <colgroup>
            <col style="min-width: 150px" />
            <col style="min-width: 80px" />
            <col style="min-width: 80px" />
            <col style="min-width: 80px" />
            <col style="min-width: 80px" />
            <col style="min-width: 80px" />
            <col style="min-width: 150px"
          </colgroup>
          <thead>
            <tr>
              <th>Philosopher</th>
              <th>Seat</th>
              <th>Left</th>
              <th>Right</th>
              <th>Eats</th>
              <th>Book</th>
              <th>Read</th>
            </tr>
          </thead>
          <tbody>
            <tr id="Socrates-tr">
              <td>Socrates</td>
              <td class="clr-td" id="Socrates-seat"></td>
              <td class="clr-td" id="Socrates-left-fork"></td>
              <td class="clr-td" id="Socrates-right-fork"></td>
              <td class="clr-td" id="Socrates-eats"></td>
              <td class="clr-td" id="Socrates-book"></td>
              <td class="clr-td td-read" id="Socrates-read"></td>
            </tr>
            <tr id="Plato-tr">
              <td>Plato</td>
              <td class="clr-td" id="Plato-seat"></td>
              <td class="clr-td" id="Plato-left-fork"></td>
              <td class="clr-td" id="Plato-right-fork"></td>
              <td class="clr-td" id="Plato-eats"></td>
              <td class="clr-td" id="Plato-book"></td>
              <td class="clr-td td-read" id="Plato-read"></td>
            </tr>
            <tr id="Aristotle-tr">
              <td>Aristotle</td>
              <td class="clr-td" id="Aristotle-seat"></td>
              <td class="clr-td" id="Aristotle-left-fork"></td>
              <td class="clr-td" id="Aristotle-right-fork"></td>
              <td class="clr-td" id="Aristotle-eats"></td>
              <td class="clr-td" id="Aristotle-book"></td>
              <td class="clr-td td-read" id="Aristotle-read"></td>
            </tr>
            <tr id="Kant-tr">
              <td>Kant</td>
              <td class="clr-td" id="Kant-seat"></td>
              <td class="clr-td" id="Kant-left-fork"></td>
              <td class="clr-td" id="Kant-right-fork"></td>
              <td class="clr-td" id="Kant-eats"></td>
              <td class="clr-td" id="Kant-book"></td>
              <td class="clr-td td-read" id="Kant-read"></td>
            </tr>
            <tr id="Nietzsche-tr">
              <td>Nietzsche</td>
              <td class="clr-td" id="Nietzsche-seat"></td>
              <td class="clr-td" id="Nietzsche-left-fork"></td>
              <td class="clr-td" id="Nietzsche-right-fork"></td>
              <td class="clr-td" id="Nietzsche-eats"></td>
              <td class="clr-td" id="Nietzsche-book"></td>
              <td class="clr-td td-read" id="Nietzsche-read"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="history" id="history">
        <div class="history-header">History</div>
        <div class="statuses" id="statuses">
          <!-- <div class="status">something happened 1</div> -->
        </div>
      </div>
    </div>
    <div class="deadlock-wrapper" id="deadlock-wrapper">
      <div class="deadlock-info">
        <!-- WASTED -->
        DEADLOCK
        <p class="deadlock-instruction">You need to reset your server</p>
      </div>
    </div>
    <div class="connection-error" id="connection-error">
      <div class="connection-error-info">Connection with server failed</div>
    </div>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  </body>
</html>
